{% extends "bases/base_homepage.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block mainpage_content %}
    <div id="content-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active"><span>Dashboard</span></li>
                        </ol>

                        <div class="clearfix">
                            <h1 class="pull-left">Dashboard</h1>

                        </div>
                    </div>
                </div>

                <div class="row">


                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="main-box infographic-box">
                            <i class="fa fa-money green-bg"></i>
                            <span class="headline">YOU'RE DUE</span>
                            {% if amount_due == 0 %}
                            <span class="value">
                            {% else %}
                            <span class="value positive">
                            {% endif %}
                                <span class="timer" data-speed="900" data-refresh-interval="60">
                                {{ amount_due_string }}
                            </span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="main-box infographic-box">
                            <i class="fa fa-credit-card red-bg"></i>
                            <span class="headline">YOU OWE</span>
                            {% if amount_owed == 0 %}
                            <span class="value">
                            {% else %}
                            <span class="value negative">
                            {% endif %}
                                <span class="timer" data-speed="1100">
                                    {{ amount_owed_string }}
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="main-box infographic-box">
                            <i class="fa fa-euro yellow-bg"></i>
                            <span class="headline">TOTAL BALANCE</span>
                            {% if balance > 0 %}
                            <span class="value positive">
                            {% elif balance < 0 %}
                            <span class="value negative">
                            {% else %}
                            <span class="value">
                            {% endif %}
                                <span class="timer" data-speed="1100">
                                    {{ balance_string }}
                                </span>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2 class="pull-left">Your latest transactions</h2>
                                
                            </header>

                            <div class="main-box-body clearfix">
                                <div class="table-responsive clearfix">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><a href="#"><span>Title</span></a></th>
                                            <th><a href="#"><span>Time</span></a></th>
                                            <th><a href="#"><span>Receiver</span></a></th>
                                            <th><a href="#"><span>Payer</span></a></th>
                                            <th><a href="#"><span>Group</span></a></th>
                                            <th class="text-center"><span>Status</span></th>
                                            <th class="text-right"><span>Amount</span></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction, amount in transactions %}
                                                <tr>
                                                    <td>
                                                        <a href="/transactions/{{ transaction.id }}">
                                                            {{ transaction.name }}</a>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ transaction.created }}
                                                    </td>
                                                    <td>
                                                     <a href="/users/{{ transaction.payee.user.id }}">
                                                            {{ transaction.payee.user.first_name }}
                                                            {{ transaction.payee.user.last_name }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/users/{{ transaction.payer.user.id }}">
                                                            {{ transaction.payer.user.first_name }}
                                                            {{ transaction.payer.user.last_name }}
                                                       </a>
                                                    </td>
                                                    <td>
                                                        <a href="/groups/{{ transaction.group.id }}">
                                                            {{ transaction.group.group_name }}
                                                       </a>
                                                    </td>
                                                    <td class="text-center">
                                                        {% if transaction.status == 'C' %}
                                                            <span class="label label-success">Completed</span>
                                                        {% else %}
                                                            <span class="label label-warning">Pending</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-right">
                                                        {% if transaction.payer == my_account %}
                                                        <div class="positive">{{ amount }}
                                                        {% elif transaction.payee == my_account %}
                                                        <div class="negative">{{ amount }}
                                                        {% endif %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.chart').easyPieChart({
                easing: 'easeOutBounce',
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                },
                barColor: '#3498db',
                trackColor: '#f2f2f2',
                scaleColor: false,
                lineWidth: 8,
                size: 130,
                animate: 1500
            });
        });
    </script>
{% endblock %}
