{% extends "bases/base_login_register_forgotpassword.html" %}
{% load static %}

{% block title %}
    Forgot Password
{% endblock %}

{% block login_block_inner %}
    <div id="login-box-inner" class="with-heading">
        <h4>Forgot your password?</h4>
        <p>
            Enter your email address to recover your password.
        </p>
        <form role="form" action="index.html">
            <div class="input-group reset-pass-input">
                <span class="input-group-addon"><i
                        class="fa fa-user"></i></span>
                <input class="form-control" type="text"
                       placeholder="Email address">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success col-xs-12">
                        Reset password
                    </button>
                </div>
                <div class="col-xs-12">
                    <br/>
                    <a href="/" id="login-forget-link"
                       class="forgot-link col-xs-12">Back to login</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}