{% extends "bases/base_homepage.html" %}
{% load static %}

{% block title %}
    {{ usergroup.group_name }}
{% endblock %}

{#TODO: Fix a problem with dashboard graph#}
{#TODO: Modal window again #}

{% block mainpage_content %}
    <div id="content-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/groups">Groups</a></li>
                            <li class="active">
                                <span>{{ usergroup.group_name }}</span></li>
                        </ol>

                        <div class="filter-block clearfix">
                            <h1 class="pull-left">{{ usergroup.group_name }}</h1>

                            <div class="pull-right top-page-ui">
                                <a href="/groups/{{ usergroup.id }}/adduser"
                                   class="btn btn-primary pull-right mrg-b-lg">
                                    <i class=" fa fa-plus-circle fa-lg"></i>
                                    Add member
                                </a>
                            </div>

                            <div class="pull-right top-page-ui">
                                <a href="/groups/{{ usergroup.id }}/addtransaction"
                                   class="btn btn-primary pull-right mrg-b-lg">
                                    <i class="fa fa-plus-circle fa-lg"></i>
                                    Add expense
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-8 col-sm-8">
                    <div class="main-box clearfix">
                        <div class="tabs-wrapper profile-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-transactions"
                                       data-toggle="tab">Transactions</a>
                                </li>
                                <li><a href="#tab-teammembers"
                                       data-toggle="tab">Members</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                {#                  DASHBOARD #}

                                {#             TEAM MEMBERS #}

                                <div class="tab-pane"
                                     id="tab-teammembers">
                                    <ul class="widget-users row">

                                        {% for user in users %}
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="{% static user.account.avatar %}"
                                                         alt=""/>
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="/users/{{ user.account.user_id }}">
                                                            {{ user.first_name }} {{ user.last_name }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                    <br/>
                                </div>

                                {#             TRANSACTIONS #}

                                <div class="tab-pane active"
                                     id="tab-transactions">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><a href="#"><span>Title</span></a></th>
                                            <th><a href="#"><span>Time</span></a></th>
                                            <th><a href="#"><span>Receiver</span></a></th>
                                            <th><a href="#"><span>Payer</span></a></th>
                                            <th class="text-center"><span>Status</span></th>
                                            <th class="text-right"><span>Amount</span></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in transactions %}
                                                <tr>
                                                    <td>
                                                        <a href="/transactions/{{ transaction.id }}">
                                                            {{ transaction.name }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ transaction.created }}
                                                    </td>
                                                    <td>
                                                     <a href="/users/{{ transaction.payee.user.id }}">
                                                            {{ transaction.payee.user.first_name }}
                                                            {{ transaction.payee.user.last_name }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/users/{{ transaction.payer.user.id }}">
                                                            {{ transaction.payer.user.first_name }}
                                                            {{ transaction.payer.user.last_name }}
                                                       </a>
                                                    </td>
                                                    <td class="text-center">
                                                        {% if transaction.status == 'C' %}
                                                            <span class="label label-success">Completed</span>
                                                        {% else %}
                                                            <span class="label label-warning">Pending</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-right">
                                                        {% if transaction.payer == my_account %}
                                                        <div class="positive">&euro;{{ transaction.amount }}
                                                        {% elif transaction.payee == my_account %}
                                                        <div class="negative">&euro;{{ transaction.amount }}
                                                        {% else %}
                                                        &euro;{{ transaction.amount }}
                                                        {% endif %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br/>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}