{% extends "bases/base_homepage.html" %}
{% load static %}

{% block title %}
    Groups
{% endblock %}

{#TODO: Fix a problem with charts#}
{#TODO: Add modal window #}

{% block mainpage_content %}
    {% include "forms/create_group_form.html" with form=add_group_form %}

    <div id="content-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active"><span>Groups</span></li>
                        </ol>

                        <div class="clearfix">
                            <h1 class="pull-left">Groups</h1>


                            <div class="pull-right top-page-ui">
                                <a data-toggle="modal" href="#groupAddModal" class="btn btn-primary pull-right mrg-b-lg" name="create_group_button">
                                    <i class=" fa fa-plus-circle fa-lg"></i>
                                    Create group
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for group in groups %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="main-box clearfix project-box emerald-box">
                                <div class="main-box-body clearfix">
                                    <div class="project-box-header emerald-bg">
                                        <div class="name">
                                            <a name="group_access_link"
                                               href="/groups/{{ group.id }}">
                                                {{ group.group_name }}
                                            </a>
                                        </div>
                                    </div>


                                    <div class="project-box-footer clearfix">
                                        <a href="#">
                                            <span class="value">{{ group.number_of_transactions }}</span>
                                            <span class="label">
                                                {% if group.number_of_transactions == 1 %}
                                                    Transaction
                                                {% else %}
                                                    Transactions
                                                {% endif %}
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="value">&euro;{{ group.total_money }}</span>
                                            <span class="label">Total money</span>
                                        </a>
                                        <a href="#">
                                            <span class="value">
                                                {% if group.users %}
                                                    {{ group.users.count }}
                                                {% else %}
                                                    ERROR
                                                {% endif %}
                                            </span>
                                            <span class="label">
                                                {% if group.users.count == 1 %}
                                                    User
                                                {% else %}
                                                    Users
                                                {% endif %}
                                            </span>
                                        </a>
                                    </div>

                                    <div class="project-box-ultrafooter clearfix">

                                        {% for u in group.users %}

                                            <img class="project-img-owner"
                                                 alt=""
                                                 src="{% static u.account.avatar %}"
                                                 data-toggle="tooltip"
                                                 title="{{ u.first_name }} {{ u.last_name }}"/>

                                        {% endfor %}

                                        <a href="/groups/{{ group.id }}"
                                           class="link pull-right">
                                            <i class="fa fa-arrow-circle-right fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.chart').easyPieChart({
                easing: 'easeOutBounce',
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                },
                barColor: '#3498db',
                trackColor: '#f2f2f2',
                scaleColor: false,
                lineWidth: 8,
                size: 130,
                animate: 1500
            });
        });
    </script>
{% endblock %}
