{% extends "bases/base_homepage.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block mainpage_content %}
    <div id="content-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">HOME</a></li>
                            <li class="active"><span>PROFILE</span></li>
                        </ol>

                        <h1>Your profile page</h1>
                    </div>
                </div>

                <div class="row" id="user-profile">

                    {#                                Left hand side of profile page #}

                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2>{{ my_account.user.first_name }} {{ my_account.user.last_name }}</h2>
                            </header>

                            <div class="main-box-body clearfix">

                                <img src="{% static my_account.avatar %}"
                                     alt=""
                                     class="profile-img img-responsive center-block"/>

                                <div class="profile-since">
                                    Member since:
                                    {{ my_account.user.date_joined.day }}.{{ my_account.user.date_joined.month }}.{{ my_account.user.date_joined.year }}
                                </div>

                            </div>

                        </div>
                    </div>

                    {#                                Right hand side of profile page #}


                    <div class="col-lg-9 col-md-8 col-sm-8">
                        <div class="main-box clearfix">
                            <div class="tabs-wrapper profile-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-activity"
                                                          data-toggle="tab">Activity</a>
                                    </li>
                                    <li><a href="#tab-friends"
                                           data-toggle="tab">Friends</a></li>
                                </ul>

                                <div class="tab-content">

                                    {#                                                ACTIVITY #}

                                    <div class="tab-pane fade in active"
                                         id="tab-activity">

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-comment"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        posted a comment in <a
                                                            href="#">Avengers
                                                        Initiative</a> project.
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-truck"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        changed order status
                                                        from <span
                                                            class="label label-primary">Pending</span>
                                                        to <span
                                                            class="label label-success">Completed</span>
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-check"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        posted a comment in <a
                                                            href="#">Lost in
                                                        Translation opening
                                                        scene</a> discussion.
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-users"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        posted a comment in <a
                                                            href="#">Avengers
                                                        Initiative</a> project.
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-heart"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        changed order status
                                                        from <span
                                                            class="label label-warning">On Hold</span>
                                                        to <span
                                                            class="label label-danger">Disabled</span>
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-check"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        posted a comment in <a
                                                            href="#">Lost in
                                                        Translation opening
                                                        scene</a> discussion.
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-truck"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        changed order status
                                                        from <span
                                                            class="label label-primary">Pending</span>
                                                        to <span
                                                            class="label label-success">Completed</span>
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa fa-users"></i>
                                                    </td>
                                                    <td>
                                                        Scarlett Johansson
                                                        posted a comment in <a
                                                            href="#">Avengers
                                                        Initiative</a> project.
                                                    </td>
                                                    <td>
                                                        2014/08/08 12:08
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    {#                                                FRIENDS #}

                                    <div class="tab-pane clearfix fade"
                                         id="tab-friends">
                                        <ul class="widget-users row">
                                            {% for friend in friends %}
                                                <li class="col-md-6">
                                                    <div class="img">
                                                        <img src="{% static friend.account.avatar %}"
                                                             alt=""/>
                                                    </div>
                                                    <div class="details">
                                                        <div class="name">
                                                            <a href="/user/{{ friend.account.user_id }}">
                                                                {{ friend.first_name }}
                                                                {{ friend.last_name }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <br/>
                                        <a href="/users"
                                           class="btn btn-success pull-right">View
                                            all users</a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

