<div class="modal fade" id="resolveExpensesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/groups/{{ usergroup_id }}/resolve" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">RESOLVE EXPENSES IN GROUP</h3>
                </div>

                <div class="modal-body">
                    {% csrf_token %}
                     <div class="form-field">
                        <input type="radio" name="resolutiontype" id="tran" value="opt_tran"> Optimize overall transactions <br>
                        <input type="radio" name="resolutiontype" id="user" value="opt_user"> Optimize transactions per user <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success col-xs-4" name="save_button_resolve">
                        RESOLVE
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
