{#A django base template for the homepage #}

{% extends "bases/base_project.html" %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    {% include "forms/settings_form.html" %}

    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container">
                <a href="/" id="logo" class="navbar-brand">
                    <img src="{% static 'img/logo.png' %}" alt=""
                         class="normal-logo logo-white"/>
                    <img src="{% static 'img/logo-black.png' %}" alt=""
                         class="normal-logo logo-black"/>
                    <img src="{% static 'img/logo-small.png' %}" alt=""
                         class="small-logo hidden-xs hidden-sm hidden"/>
                </a>

                <div class="clearfix">
                    <button class="navbar-toggle"
                            data-target=".navbar-ex1-collapse"
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>

                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">

                            {#                            Search bar #}

                            {#                            Notifications #}

                            {#                            User bar #}

                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    <img src="{% static my_account.avatar %}"/>

                                    <span class="hidden-xs">{{ my_account.user.first_name }}</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/"><i
                                            class="fa fa-user"></i>Profile</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#settingsModal">
                                            <i class="fa fa-cog"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li><a href="/logout/"><i
                                            class="fa fa-power-off"></i>Logout</a>
                                    </li>
                                </ul>
                            </li>

                            {#                            Power button #}

                            <li class="hidden-xxs">
                                <a class="btn">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div id="page-wrapper" class="container">
            <div class="row">

                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div id="user-left-box"
                                 class="clearfix hidden-sm hidden-xs">

                                <img src="{% static my_account.avatar %}"/>

                                <div class="user-box">
									<span class="name">
										Welcome,<br/>
										{{ my_account.user.first_name }}!
									</span>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse"
                                 id="sidebar-nav">

                                <ul class="nav nav-pills nav-stacked">

                                    {#                                    Home page #}

                                    <li>
                                        <a href="/">
                                            <i class="fa fa-home"></i>
                                            <span>HOME</span>
                                        </a>
                                    </li>

                                    {#                                    Users #}

                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-user"></i>
                                            <span>USERS</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="/users/friends/">
                                                    MY FRIENDS
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/users/">
                                                    ALL USERS
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    {#                                    Groups #}

                                    <li>
                                        <a href="/groups/">
                                            <i class="fa fa-users"></i>
                                            <span>MY GROUPS</span>
                                        </a>
                                    </li>


                                    {#                                    My expenses #}

                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-credit-card"></i>
                                            <span>MY TRANSACTIONS</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="/transactions/pending/">
                                                    PENDING
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/transactions/completed/">
                                                    COMPLETED
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/transactions/">
                                                    ALL TRANSACTIONS
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/transactions/resolution/">
                                            <i class="fa fa-euro"></i>
                                            <span>RESOLUTION</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </section>
                </div>

                {% block mainpage_content %}
                {% endblock %}

            </div>
        </div>
    </div>

    <!-- theme scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
{% endblock %}