{# A django base template for : #}
{# Login page#}
{# Register page#}
{# Forgot password page#}

{% extends "bases/base_project.html" %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="login-full-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    <header id="login-header">
                                        <div id="login-logo">
                                            <img src="{% static '/img/logo.png' %}"
                                                 alt=""/>
                                        </div>
                                    </header>

                                    {% block login_block_inner %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>

                        {% block footer %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}